body{
    background-color: rgb(255, 201, 100);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    background-color: rgb(224, 161, 44);
    margin: 0 0 30px 0;
    height: 60px;
    padding-top: 16px;
    text-shadow: 2px 3px gray;
}
.busqueda{
    border-radius: 15px;
    border: 4px solid black;
    height: 90px;
    width: 600px;
    margin: 5px auto;
    background-color: orange;
}

.input{
    margin: 6px 0 0 0;
}

select{
    background-color: rgb(255, 201, 100);
    height: 25px;
    border-radius: 8px;
}
#hobbies{
    background-color: rgb(255, 201, 100);
    height: 20px;
    border-radius: 8px;
    width: 200px;
}
.personas{
    background-color: rgb(224, 161, 44);
    margin: 40px 0 0;
    width: 100%;
    border-radius: 5px;
    float: left;
}

.imagen{
    float: left;
    margin-right: 20px;
}

.info{
    float: left;
}
.boton{
    float: right;
    margin: 40px 30px 0 0;
    font-weight: bold;
    border-radius: 5px ;
}
.boton:hover{
    background-color: black;
    color: white;
}
.name{
    margin: 15px 0 15px 0;
}
.buscar{
    font-weight: bold;
    border-radius: 5px;
}
.buscar:hover{
    color: white;
    background-color: black;
}